ul, li {
    list-style: none; 
    // padding: 0;
    // margin: 0;
}

.card-main {
    zoom: 1 !important;
    width: 100%; 
    height: calc(100% - 5rem) !important;
    padding: 10px;
    background-color: #e6e6e6;
    // padding: 0 .625rem;
    padding-right: 0;
    box-sizing: border-box;

    .main-box {
        background-color: #fff;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px #adadad;
    }
}

.nav-header {
    width: 100%;
    box-sizing: border-box;
    height: 2.8125rem;
    line-height: 2.8125rem;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;

    .nav-single {
        // margin-right: 10px;
        // cursor: pointer;
        // height: 2.8125rem;
        // border-bottom: 2px solid transparent;
    }

    .nav-select {
        background-color: #ecf5ff;
        color: #409eff;
        border-color: #409eff;
    }

    .operation {
        
    }
} 

.function {
    width: 100%;
    box-sizing: border-box;
    height: 2.8125rem;
    line-height: 2.8125rem;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;

    .fun-single {
        margin-right: 10px;
        cursor: pointer;
        height: 2.8125rem;
        border-bottom: 2px solid transparent;
    }

    .fun-select {
        color: #409eff;
        border-bottom: 2px solid #409eff;
    }
} 

.model-make {
    width: 100%;
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .model-make-top {
        text-align: left;
        width: 100%;
        height: 30px;
        line-height: 32px;
        padding: 0 40px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        // background-color: orange;

        i {
            cursor: pointer;
            font-size: 1.25rem;
            color: #234060;
            transform: all .5s;
            margin-right: 10px;
        }

        i:hover {
            color: #054591;
        }
    }

    .model-make-container {
        width: 100%;
        height: calc(100% - 30px);
        display: flex;
        justify-content: flex-start;

        .model-make-left {
            width: 40px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 0 5px;
            box-sizing: border-box;
            border-right: 1px solid #ccc;
            justify-content: center;
            align-content: flex-start;

            .fontSize {
                font-size: 33px;
                cursor: pointer;
                margin: 10px 0;
            }

            .verson {
                cursor: pointer;
				margin: 10px 0;
								
                // font-size: 1.25rem;
            }
        }

        .model-make-right {
            width: 200px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            z-index: 5;

            .ele-list {
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #333;
                font-size: 15px;
                letter-spacing: 1px;
                box-shadow: 1px 1px 5px 1px #ccc;
            }

            .ele-single {
                padding: 10px 10px;
                box-sizing: border-box;
                width: 100%;
                display: flex;
                height: calc(100% - 30px);
                justify-content: flex-start;
                align-content: flex-start;
                flex-wrap: wrap;

                // div {
                //     margin-right: 20px;
                //     margin-bottom: 10px;
                // }
                .ele-btn {
                    margin: 0 5px;
                    margin-bottom: 5px;
                    width: 20%;
                    cursor: pointer;
                    max-width: 50px;
                    min-width: 30px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    padding: 4px;
                    text-align: center;
                    

                    img {
                        width: 100%;
                        height: auto;
                    }
                    div {
                        width: 100%;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
    }

}

.ele-span {
    padding: 3px 7px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.ele-s {
    border-color: red;
    color: red;
}

.model-make-center {
    // width: calc(100% - 30px);
    height: 100%;
    background-color: #ababab;
    position: relative;
    display: flex;
    
    .ruler {
        width: 100%;
        height: 100%;
    }
}

.table {
    // margin: auto;
    // flex: 1;
    width: 100%;
    height: calc(100% - 70px);
    zoom: .9;
    // position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .table__ {
        width: 100%;
        flex: 1;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }
}

.box {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.mask {
    width: 100%;
    height: 100%;
    // background-color: #fff;
    box-sizing: border-box;
    position: relative;
    // border: 1px solid #ccc;
}

// 遮罩层 start
// .musk {
//     position: fixed;
//     width: 100%;
//     height: 100vh;
//     // background-color: rgba(255, 166, 0, 0.247);
//     z-index: 20;
//     display: flex;
//     justify-content: center;
//     align-items: center;

    .mask-box {
        z-index: 20;
        position: fixed;
        // top: 56%;
        // margin-top: -21.25rem;
        left: 62%;
        margin-left: -12.1875rem;
        width: 390px;
        height: 600px;
        box-shadow: 1px 1px 5px 1px #ccc;
        border-radius: 3px;
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .close {
            position: absolute;
            box-sizing: border-box;
            top: 0px;
            right: 0px;
            padding: 5px;
            padding-left: 0;
            width: 100%;
            text-align: right;
            background-color: #054592;
            color: #fff;
            // height: 30px;
		}
				

    }
// }

.model-box {
    width: 100%;
    flex: 1;
    // background-color: orange;
    padding-top: 10px;
    box-sizing: border-box;

    .model-ul {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;

        .model-single {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            color: #333;
            font-size: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;

            
            span {
                width: 70px;
                text-align: right;
                margin-right: 10px;
            }

            .value {
                // flex: 1;
                display: flex;
                margin-top: 5px;
                justify-content: flex-start;
                align-items: flex-start;
                
            }
        }

        .model-single:nth-last-child(1) {
            padding-bottom: 0;
            border: none;
        }
    }
}

.position {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;

    li {
        width: 50%;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 10px;
        box-sizing: border-box;

        span {
            font-size: 15px;
            // width: 65px;
            letter-spacing: 25px;
            text-align: right;
            margin-right: 10px;
        }
    }
}

// 遮罩层 end

.invite-progress {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
		box-sizing: border-box;
		margin-top: 3px; 
}

#templateStyle {
    padding-right: 5px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    // overflow-y: auto;
}

// 供选的字体颜色与背景颜色
.default_color_box {
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
		// height: 60px;
		margin-left: 5px;

    div {
        width: 15px;
        height: 15px;
        border: 2px solid #ddd;
        margin: 2px 0;
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background-color: transparent !important;
}


::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background   : rgba(0, 0, 0, 0) !important;
}

.option {
	width: 100%;
	height: 30px;
	display: flex; 
	justify-content: flex-start;
	align-items: center;

	li {
		width: 20px;
		height: 20px;
		margin-right: 10px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	div {
		flex: 1;
		height: 100%;
		display: flex;
		align-items: center;

		li {
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			margin-right: 0px;

			img {
				width: 15px !important;
				height: 16px !important;
				margin-top: 0;
			}
		}
	}
}

// 设置文本内容样式
.set-cte {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    letter-spacing: 25px;

    span {
        width: 50px;
    }
}

.page {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// 测试模板
// .test-model {
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     z-index: 15;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, .4);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;

    .t-m-box {
        width: 100%;
        height: 70%;
        background-color: #fff;
        box-shadow: 1px 1px 5px 1px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
    
        .t-m-single {
            cursor: pointer;
            margin: 0 10px;
            box-shadow: 1px 1px 5px 1px #ccc;
        }

        .t-m-select {
            box-shadow: 1px 1px 5px 1px rgb(255, 0, 0);
        }

        .btn-width {
            width: 100%;
            padding: 15px 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
    
            bottom {
                margin: 0 5px;
            }
        }
    }

// }

.coordinate {
    position: absolute;
    left: calc(100% + 3px);
    top: 0;
    width: 300px;
    text-align: left;
    color: #666;
    font-size: 12px;

}